{% extends 'base.html' %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    {%load static%}
    <form method="post" enctype="multipart/form-data">
      {%csrf_token%}
      <table class="mx-5 container mt-5">
        <tr>
          <th>id</th>
          <th>name</th>
        </tr>
        <tr>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
        </tr>

        <tr colspan="2">
          <td>
            <input
              class="btn btn-danger my-5"
              type="submit"
              value="are u sure"
              style="width: 30%; padding: 0.5rem; margin-left: 31%"
            />
          </td>
        </tr>
        <tr colspan="2">
          <td>
            <input
              class="btn btn-secondary"
              type="submit"
              value="cancel"
              style="width: 30%; padding: 0.5rem; margin-left: 31%"
            />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
{%endblock%}
